@page "/"
@using Radzen
@using Survey.Repositories
@using Radzen.Blazor
@using Survey.Models

@inject ISurveyRepository DbRepository

@if (surveys is null)
{
    <div class="row my-1">
        <div class="col-sm-5 col-lg">
            <RadzenCard>
                <RadzenText Text="Admin Page Loading....." TextStyle="TextStyle.H6"/>
            </RadzenCard>
        </div>
    </div>

    <div class="row my-3">
        <RadzenCard>

            <div class="col-sm-12 col-lg-2">
                    <RadzenStack>
                        <RadzenText TextStyle="TextStyle.H4" Style="color: white; background: black; text-align: center">Title</RadzenText>
                    </RadzenStack>
            </div>
        </RadzenCard>
    </div>
}

else
{
    <div class="row my-3 col-lg">
            <RadzenCard>
                <RadzenText Text="Admin Page" TextStyle="TextStyle.H6"/>
            </RadzenCard>
    </div>

    <div class="row my-3">
        <RadzenDataGrid @ref="surveyGrid" AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="5" AllowSorting="true"
                        Data="@surveys" TItem="SurveyForm">
            <Columns>
                <RadzenDataGridColumn TItem="SurveyForm" Title="No.">
                <Template Context="survey">
                    @columIndex++
                </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SurveyForm.Title)" Title="Title"/>
                <RadzenDataGridColumn Property="@nameof(SurveyForm.CreateTime)" Title="CreateAt"/>
                <RadzenDataGridColumn Property="@nameof(SurveyForm.Constructor)" Title="Manager"/>
                <RadzenDataGridColumn Context="survey" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                    <Template Context="survey">
                        <NavLink class="btn btn-info" href="@GetDtail(survey.FormKey)">
                            <i class="bi bi-pencil"></i>
                        </NavLink>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    
    
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>CreateAt</th>
            <th>Manager</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var survey in surveys)
        {
            columIndex++;
            <tr>
                <td>@columIndex</td>
                <td>@survey.Title</td>
                <td>@survey.CreateTime</td>
                <td>@survey.Constructor</td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-primary me-2" role="button" href ="@GetDtail(survey.FormKey)">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>


}

@code
{
    private string statusMessage;

    RadzenDataGrid<SurveyForm> surveyGrid;
    private SurveyForm[]? surveys;
    private int columIndex;

    private string GetDtail(string key) => $"/form/questioninfo/{key}";
    protected override async Task OnInitializedAsync()
    {
        columIndex = 0;
        surveys = (SurveyForm[]?)await DbRepository.GetForms();
        Console.WriteLine("Completed Init");

        // try
        // {
        //     SurveyForm newForm = new SurveyForm
        //     {
        //         Title = "Survey DB Test"
        //     };
        //
        //     Dictionary<string, string> newQuestion = new Dictionary<string, string>
        //     {
        //         { "질문 1", "여름 음식중 제일 좋아하는 것은?" },
        //         { "질문 2", "여름 레저 스포츠를 한다면 원하는 것은?" }
        //     };
        //
        //     newForm.Questions = JsonConvert.SerializeObject(newQuestion);
        //     newForm.Constructor = "salin";
        //     newForm.CreateTime = DateTime.Now;
        //
        //     DbRepository.CreateForm(newForm);
        //
        //     statusMessage = "Form created successfully!";
        // }
        // catch (Exception ex)
        // {
        //     statusMessage = $"Error: {ex.Message}";
        // }
        // Console.WriteLine($"{statusMessage}");
    }

    private void OnClickMove(int tableKey)
    {
        Console.WriteLine("Select Form : " + tableKey.ToString());
    }
}
